Repository goorea/muscleman-api, pull requests merged in 2021-11, with the labels that each got.

#88 [feat] 완료한 최대 무게 모델 생성
  src/models/OneRM.ts
  src/models/types/OneRM.ts
  tests/unit/one-rm.test.ts
Labels: enhancement, test

#92 [style] 각 Input 인스턴스 성격에 맞게 이름 변경
  src/factories/PlanFactory.ts
  src/factories/TrainingFactory.ts
  src/factories/UserFactory.ts
  src/resolvers/PlanResolver.ts
  src/resolvers/TrainingResolver.ts
  src/resolvers/UserResolver.ts
  src/resolvers/types/CreatePlanInput.ts
  src/resolvers/types/CreateTrainingInput.ts
  src/resolvers/types/RegisterInput.ts
  src/resolvers/types/UpdatePlanInput.ts
  src/resolvers/types/UpdateTrainingInput.ts
  tests/feature/create-plans.test.ts
  tests/feature/create-training.test.ts
  tests/feature/registeration.test.ts
  tests/feature/update-plans.test.ts
  tests/feature/update-trainings.test.ts
  tests/helpers.ts
  tests/unit/user.test.ts
Labels: enhancement, test

#98 [feat] OneRM 모델 제거
  src/models/OneRM.ts
  src/models/Plan.ts
  src/models/types/OneRM.ts
  tests/unit/one-rm.test.ts
Labels: refactor, revert

#99 [feat] Plan 모델에 훅을 추가하여 최대 무게 토글
  src/models/Plan.ts
  src/models/hooks/plan-hooks.ts
  src/models/types/Plan.ts
  src/models/types/WeightSet.ts
  tests/unit/plan.test.ts
Labels: enhancement, test

#100 [feat] Plan 모델의 최대 무게 Query 및 Subscription 생성
  .env.example
  package.json
  src/bootstrap.ts
  src/models/Plan.ts
  src/resolvers/PlanResolver.ts
  src/subscription.ts
  tests/feature/get-one-rm.test.ts
  yarn.lock
Labels: enhancement, test

#101 [style] eslint-plugin-import 도입
  .eslintrc.js
  package.json
  src/auth-checker.ts
  src/bootstrap.ts
  src/context.ts
  src/factories/LoginInputFactory.ts
  src/factories/PlanFactory.ts
  src/factories/SetFactory.ts
  src/factories/TrainingFactory.ts
  src/factories/UserFactory.ts
  src/middlewares/AuthenticateMiddleware.ts
  src/middlewares/ErrorInterceptorMiddleware.ts
  src/middlewares/GuestMiddleware.ts
  src/middlewares/TypegooseMiddleware.ts
  src/models/Model.ts
  src/models/Plan.ts
  src/models/Training.ts
  src/models/User.ts
  src/models/hooks/plan-hooks.ts
  src/models/hooks/training-hooks.ts
  src/models/hooks/user-hooks.ts
  src/models/types/Plan.ts
  src/models/types/User.ts
  src/notifications/Mail.ts
  src/plugins/jwt.ts
  src/resolvers/PlanResolver.ts
  src/resolvers/TrainingResolver.ts
  src/resolvers/UserResolver.ts
  src/resolvers/types/AuthenticationResponse.ts
  src/resolvers/types/CreatePlanInput.ts
  src/resolvers/types/CreateTrainingInput.ts
  src/resolvers/types/LoginInput.ts
  src/resolvers/types/RegisterInput.ts
  src/resolvers/types/SetInput.ts
  src/resolvers/types/UpdatePlanInput.ts
  src/resolvers/types/UpdateTrainingInput.ts
  src/resolvers/types/VerifyInput.ts
  src/scalars/ObjectIdScalar.ts
  src/schema.ts
  src/subscription.ts
  tests/feature/create-plans.test.ts
  tests/feature/create-training.test.ts
  tests/feature/get-one-rm.test.ts
  tests/feature/get-plans.test.ts
  tests/feature/get-users.test.ts
  tests/feature/logination.test.ts
  tests/feature/registeration.test.ts
  tests/feature/token-refreshation.test.ts
  tests/feature/update-plans.test.ts
  tests/feature/update-trainings.test.ts
  tests/feature/verification.test.ts
  tests/graphql.ts
  tests/helpers.ts
  tests/setup.ts
  tests/unit/plan.test.ts
  tests/unit/training.test.ts
  tests/unit/user.test.ts
  yarn.lock
Labels: style

#104 [feat] 소셜 로그인 추가
  src/factories/SocialUserFactory.ts
  src/models/User.ts
  src/resolvers/UserResolver.ts
  src/resolvers/types/RegisterInput.ts
  src/resolvers/types/SocialLoginInput.ts
  src/types/enums.ts
  tests/feature/registeration.test.ts
  tests/feature/social-logination.test.ts
Labels: enhancement

#106 [feat] 소셜 로그인 응답 객체 변경
  src/factories/SocialUserFactory.ts
  src/models/User.ts
  src/resolvers/UserResolver.ts
  src/resolvers/types/SocialLoginInput.ts
  tests/feature/registeration.test.ts
  tests/feature/social-logination.test.ts
Labels: bug, enhancement, test

#107 [feat] 최대 무게 Subscription 제거
  src/resolvers/PlanResolver.ts
  tests/feature/get-one-rm.test.ts
Labels: revert

#108 [feat] 최대 무게 Query 운동 종목의 type이 아닌 name으로 반환
  src/models/Plan.ts
  src/models/hooks/plan-hooks.ts
  src/models/types/Plan.ts
  src/resolvers/PlanResolver.ts
  tests/feature/get-one-rm.test.ts
  tests/feature/get-plans.test.ts
  tests/unit/plan.test.ts
Labels: enhancement, revert

#112 [feat] 모델들의 프로퍼티 이름을 camel case로 변경
  src/factories/LoginInputFactory.ts
  src/factories/PlanFactory.ts
  src/factories/SocialUserFactory.ts
  src/factories/TrainingFactory.ts
  src/factories/UserFactory.ts
  src/limits/PlanLimit.ts
  src/limits/UserLimit.ts
  src/models/Model.ts
  src/models/Plan.ts
  src/models/Training.ts
  src/models/User.ts
  src/models/hooks/plan-hooks.ts
  src/models/types/User.ts
  src/plugins/jwt.ts
  src/resolvers/PlanResolver.ts
  src/resolvers/UserResolver.ts
  src/resolvers/types/CreatePlanInput.ts
  src/resolvers/types/CreateTrainingInput.ts
  src/resolvers/types/JWTResponse.ts
  src/resolvers/types/LoginInput.ts
  src/resolvers/types/RegisterInput.ts
  src/resolvers/types/SocialLoginInput.ts
  src/resolvers/types/UpdatePlanInput.ts
  src/resolvers/types/UpdateTrainingInput.ts
  src/resolvers/types/VerifyInput.ts
  tests/feature/create-plans.test.ts
  tests/feature/create-training.test.ts
  tests/feature/get-plans.test.ts
  tests/feature/logination.test.ts
  tests/feature/registeration.test.ts
  tests/feature/social-logination.test.ts
  tests/feature/token-refreshation.test.ts
  tests/feature/update-plans.test.ts
  tests/feature/update-trainings.test.ts
  tests/feature/verification.test.ts
  tests/helpers.ts
  tests/unit/plan.test.ts
  tests/unit/user.test.ts
Labels: refactor, test

#113 [feat] 오늘의 운동 쿼리 생성
  package.json
  src/factories/PlanFactory.ts
  src/limits/PlanLimit.ts
  src/models/Plan.ts
  src/resolvers/PlanResolver.ts
  src/resolvers/types/CreatePlanInput.ts
  src/resolvers/types/UpdatePlanInput.ts
  tests/feature/create-plans.test.ts
  tests/feature/get-plans.test.ts
  tests/feature/update-plans.test.ts
  yarn.lock
Labels: enhancement, refactor, test

#115 [fix] 운동 종목에 따른 최대 무게 반환이 되지 않는 이슈
  package.json
  src/models/hooks/plan-hooks.ts
  src/resolvers/PlanResolver.ts
  tests/feature/get-plans.test.ts
  yarn.lock
Labels: bug, enhancement, test

#117 [fix] Model에 createdAt updatedAt 프로퍼티 추가
  src/models/Model.ts
  src/models/Plan.ts
  src/models/Training.ts
  src/models/User.ts
Labels: enhancement, refactor

#121 [feat] todayPlans 쿼리 제거
  package.json
  src/resolvers/PlanResolver.ts
  tests/feature/get-plans.test.ts
  yarn.lock
Labels: revert

#122 [feat] 중량운동, 맨몸운동, 유산소운동 구분
  src/factories/TrainingFactory.ts
  src/models/Training.ts
  src/resolvers/types/CreateTrainingInput.ts
  src/resolvers/types/UpdateTrainingInput.ts
  src/types/enums.ts
  tests/feature/create-training.test.ts
Labels: enhancement, test

#124 [fix] faker unique maxRetires 이슈
  src/factories/LoginInputFactory.ts
  src/factories/SocialUserFactory.ts
  src/factories/TrainingFactory.ts
  src/factories/UserFactory.ts
  tests/unit/user.test.ts
Labels: bug, test

#125 [feat] Set -> Volume 모델로 변경
  src/factories/PlanFactory.ts
  src/factories/SetFactory.ts
  src/factories/VolumeFactory.ts
  src/limits/PlanLimit.ts
  src/limits/VolumeLimit.ts
  src/models/CalisthenicsVolume.ts
  src/models/CardiovascularVolume.ts
  src/models/Plan.ts
  src/models/Set.ts
  src/models/Volume.ts
  src/models/WeightVolume.ts
  src/models/hooks/plan-hooks.ts
  src/models/hooks/training-hooks.ts
  src/models/hooks/volume-hooks.ts
  src/models/types/Plan.ts
  src/models/types/Volume.ts
  src/models/types/WeightSet.ts
  src/plugins/jwt.ts
  src/resolvers/PlanResolver.ts
  src/resolvers/VolumeResolver.ts
  src/resolvers/types/CreatePlanInput.ts
  src/resolvers/types/SetInput.ts
  src/resolvers/types/UpdatePlanInput.ts
  src/resolvers/types/VolumeInput.ts
  tests/feature/create-plans.test.ts
  tests/feature/get-plans.test.ts
  tests/feature/update-plans.test.ts
  tests/unit/plan.test.ts
  tests/unit/training.test.ts
  tests/unit/user.test.ts
  tests/unit/volume.test.ts
Labels: enhancement, refactor, test, revert
